html, body, main {
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.centered {
  position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    max-width: 100%;
    text-align: center;
}

.game-screen{
  width: 100%;
  height: 650px;
  background-color:white ;
  /*margin-left: 50px;*/
}
td {
  text-align: left;
}

.green {
  color: green;
}
.orange {
  color: orange;
}
.red {
  color: red;
}
.grey {
  color: grey;
}

