<div class="game-screen">
  <h3>Get ready to shoot your way out</h3>

    <div>
      <p>{{shotsFired}}</p>
      <div ng-click="shoot()" class="btn btn-danger">Shoot!</div>
    </div>

    <table class=table>
      <tr>
        <th>
          <div ng-click="sortBy('name')">Name</div>
        </th>
        <th>
          <div ng-click="sortBy('type')">Type</div>
        </th>
        <th>
          <div ng-click="sortBy('hp')">HP</div>
        </th>
      </tr>
      <tr ng-repeat="zombie in zombies | orderBy: header : reverse">
        <td>{{zombie.name}}</td>
        <td>{{zombie.type}}</td>
        <td id="{{zombie.name}}" class="green">{{zombie.hp}}</td>
      </tr>
    </table>

</div>
<a  ui-sref="home">Back</a>